*{
/*	Для правильного отображения*/
/*box-sizing: border-box;*/*/
	padding: auto;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}
/*footer,section{
	padding: 100px 0;
}*/
.header{
	background: url(../img/HeadIMG.jpg)  center center/ cover no-repeat;
}
.logo_text h2{
	color:yellow;
	font-size: 41px;
	
}
#underl_logo{
	text-decoration: underline yellow;
}
.logo_text h1{
color: white;
font-size: 80px;
}
.logo_text h3{
	color: white;
}
#logo_color_button{
	background-color: #2a9cbd;
	margin-top: 30px;
}
#logo_color_button:hover{
	background-color: blue;
}


.information{
	background-color: #EFEFEF;
	padding-top: 101px;
}
.two{
	background-color: #EFEFEF;
	padding-top: 38px;
}
.two p{
	margin-top: 26px;
	font-size: 18px;
}


.Optimisation{
	padding: 102px 0 106px 0;
}
.optization_header{
	font-size: 30px;
	color: #299CBD;
}
.Optimisation_block_text, .optization_header{
	float: right;
	width: 60%;
}
.Optimisation_block_text{
font-size: 17px;
}

.optimization_img{
	position: absolute;
	z-index: -1;
}
/*.optimization_img{
	Любая позиция
	position: absolute;
	На задний фон
	z-index: -1;
}*/



.EndLearn{
	background-color: #2C2C2C4D;
	margin-top: 99px;
}
.MainTextForEndLearn{
	color:#EFEFEF;
	font-size: 30px;
	margin-top: 50px;
}

/*Жёлтая подчёркивающая линия*/
.Und{
	margin: 7px 0;
	padding: 0;
	height: 0;
	border: none;
	border-top: 4px solid yellow;
	width: 217px;
}
.EndLearn .row{
	margin-top: 50px;
}
.EndLearn .row img{
margin-bottom: 10px;
}
.EndLearn .row p{
	color: whitesmoke;
	margin-bottom: 50px;

}

.Presents{
	padding: 86px 0 87px 0;
	background: #EFEFEF;
}
.Presents h3{
	font-size: 30px;
	width: 80%;
	margin-top: 15px;
}

.FirstLesson{
	padding: 89px 0 64px 0;
}
.TextFirstLesson h2{
color: #299CBD;
;
}



footer{
	padding: 55px 0 68px 0;
	background: #1A1A1A;
}
footer p a, footer p{
	text-decoration: none;
	color: white;
}
footer p a:hover{
	color: white;
}
@media screen and (max-width: 767px) {
    /* если ширина экрана стала больше 700px, применяются свойства, написанные здесь */
    #underl_logo{
	text-decoration: none;
}

}
@media screen and (max-width: 1024px){
.optimization_img{
	display: none;
}
.Optimisation_block_text, .optization_header{
	float: none;
	width: 85%;
}
}
